<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Navbar</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  {{style}}
</head>

<body>
  <nav class="navbar">

    <div class="navbar-left">
      <a href="/" class="company-name">UnicomTIC</a>
    </div>

    <div class="navbar-right">

      <a href="/employees" class="menu-item">Employee</a>

   

    </div>
  </nav>

  <main>
    {{content}}
  </main>
  <footer>
    {{script}}
  </footer>
</body>

</html>